* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    font-size: medium;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #fffce9;
}

/*Header - start*/

header {
    position: fixed;
    width: 100%;
    transition: all 80ms ease-out;
    z-index: 1;
    background: transparent;
    transition: all 0.5s ease;
    top: 0;
}

header.active {
    position: fixed;
    width: 100%;
    transition: all 80ms ease-out;
    z-index: 1;
    background: #fee8a9;
    transition: all 0.5s ease;
}

header.scrolled {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
}

/*Header - slut*/

/*Nav-bar burger menu mobil - start*/

.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
}

.nav-branding img {
    width: 150px;
}

.nav-menu {
    position: fixed;
    right: -100%;
    top: 99px;
    gap: 0;
    flex-direction: column;
    background: #fee8a9;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 16px 0;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #1b5b00b0;
}

li {
    list-style: none;
}

a {
    color: #424541e0;
    text-decoration: none;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 2px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    right: 0;
}

/*Nav-bar burger menu mobil - slut*/

/*Banner mobil - start*/

.banner2-mobile {
    display: block;
    width: 100%;
}

.banner2-tablet {
    display: none;
    width: 100%;
}

.banner2-desktop {
    display: none;
    width: 100%;
}

h1 {
    color: #424541e0;
    font-size: 5vw;
    text-align: center;
    padding: 50px 25px 0 25px
}

h2, h3 {
    color: #424541e0;
    font-size: 4.5vw;
    text-align: center;
    padding: 25px;
    font-weight: 300;
}

h3 {
    padding: 0 25px 50px 25px;
    font-style: italic;
}

/*Banner mobil - slut*/

/*Footer mobil - start*/

footer {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #35711c;
    z-index: -2;
    gap: 25px;
}

h6 {
    position: relative;
    font-size: small;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

footer p, h5 {
    position: relative;
    font-size: x-small;
    text-align: center;
    padding: 2px;
}

.footer-logo {
    display: block;
    margin: auto;
    width: 150px;
    padding: 5px;
}

/*Footer mobil - slut*/

/*Banner tablet - start*/

@media(min-width: 425px) {

    h1 {
        font-size: 2.75vw;
    }

    h2, h3 {
        font-size: 2.5vw
    }

    footer p, h5 {
        font-size: small;
    }

    .banner2-mobile {
        display: none;
        width: 100%;
    }

    .banner2-tablet {
        display: block;
        width: 100%;
    }
    
    .banner2-desktop {
        display: none;
        width: 100%;
    }
}

/*Banner tablet - slut*/

/*Nav-bar desktop - start*/

@media(min-width: 950px) {

    .nav-bar {
        display: flex;
    }

    .nav-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        right: 0;
        top: 0;
        flex-direction: row;
        text-align: center;
        width: auto;
        background: transparent;
    }

    a {
        color: white;
    }

    .hamburger {
        display: none;
    }

    /*Nav-bar desktop - slut*/

    /*Banner desktop - start*/

    .banner2-mobile {
        display: none;
        width: 100%;
    }

    .banner2-tablet {
        display: none;
        width: 100%;
    }
    
    .banner2-desktop {
        display: block;
        width: 100%;
    }

    main section {
        padding: 50px 0 50px 0;
    }

    h1 {
        font-size: 2vw;
    }

    h2, h3 {
        font-size: 1.75vw
    }

    /*Banner desktop - slut*/

    /*Footer desktop - start*/

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer section {
        margin: auto 0 auto 0;
    }

    /*Footer desktop - slut*/

}
    
/*Desktop - slut*/